
.BanCoCaNgua {
    height: 100%;
    border-collapse: collapse;
    border-color: green;
    border-width: 3px;
    border-style: solid;
}

.BanCoCaNgua > tbody > tr > td {
    height: 100%;
    border-collapse: collapse;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.O1 {
    width: 100%;
    height: 100%;
    border-width: 3px;
    background-image: url("BanCoTiPhu/MayBay.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.O4 {
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    background-image: url("BanCoTiPhu/CauVong.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
    border-color: black;
}

.Top {
    width: 100px;
    height: 100%;
    transform: rotate(180deg);
    font-weight: bold;
    text-align: center;
}

.Top img {
    width: 50px;
}

.Bottom {
    width: 100px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    border-collapse: collapse;
}

.Bottom img {
    width: 50px;
}

.Left {
    width: 100%;
    height: 100px;
    border-width: 3px;
    font-weight: bold;
    text-align: center;
    border-collapse: collapse;
    border-color: black;
}
.Right {
    width: 100%;
    height: 100px;
    border-width: 3px;
    font-weight: bold;
    text-align: center;
    border-collapse: collapse;
    border-color: black;
}
.MauDo {
    background-color: red;
    border-style: solid;
    border-width: 3px;
    width: 100%;
    height: 100%;
}

.MauVang {
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
}

.XanhLa {
    background-color: green;
    border-style: solid;
    border-width: 3px;
}

.XanhDuong {
    background-color: blue;
    border-style: solid;
    border-width: 3px;
}

.XanhNhat {
    background-color: steelblue;
    border-style: solid;
    border-width: 3px;
}

.MauHong {
    background-color: orchid;
    border-style: solid;
    border-width: 3px;
}

.MauCam {
    background-color: orange;
    border-style: solid;
    border-width: 3px;
}

.MauTim {
    background-color: purple;
    border-style: solid;
    border-width: 3px;
}

.ThuNho1 {
    width: 50px;
}

.CanhSat {
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-collapse: collapse;
}

.CanhSat1 {
    height: 120px; 
    transform: rotate(-135deg);
    padding-top:50px;
}

.MayBay {
    transform: rotate(45deg);
}

.ThamTu {
    border-width: 3px;
    font-weight: bold;
    width: 100%;
    height: 150px;
}

.OGiua {
    width: 100%;
    height: 500px;
    transform: rotate(-45deg);
    padding-left: 70px;
}

.CoHoi {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    transform: rotate(180deg);
    padding-top: 70px;
}

.CoTiPhu {
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}

.KhiVan {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
}

.XoayTrai {
    transform: rotate(90deg);
    padding-bottom:15px;
    padding-top :20px;
}

.DauHoi {
    width: 33px;
}

.XoayPhai {
    transform: rotate(269deg);
    padding-bottom:20px;
    padding-top:10px;
}

img {
    max-width: 150px;
}

.BenXe table {
    width: 100%;
    height: 100%;
    text-align: center;
}

.BenXe img {
    width: 100px;
    transform: rotate(90deg);
}

.BenXe div {
    width: 100px;
    transform: rotate(90deg);
}

.SanBay1 {
    font-weight: bold;
    transform: rotate(90deg);
    margin-top: 30px;
    margin-right: 100px;
}

.SanBay2 {
    font-weight: bold;
    padding-bottom: 20px;
}

.VoTu1 {
    font-weight: bold;
    transform: rotate(180deg);
}

.VoTu2 {
    font-weight: bold;
    padding-top:20px;
    transform: rotate(-90deg);
}

.Nha {
    height: 30px;
}

.Nha1 {
    width: 30px;
}
.AoThuatGia{
    transform: rotate(180deg);
    padding-left: 350px;
    padding-top:30px;
}
.AoThuatGia1{
    padding-left: 350px;
    padding-top: 30px;
}
.O3{
    width: 100px;
    transform: rotate(45deg);
    padding: 10px;
}
.abc{
    background-color: red;
    padding:12px;
}
.A1{
    padding-bottom: 15px;
}
.A2{
    padding-bottom:5px;
}
.A3{
    padding-top: 2px;
}
.A4{
    padding-top:60px;
}
.A5{
    padding-top:50px;
}
.A6{
    padding-top: 40px;
}